.alert{
  margin: 0;
  padding: 1%;
  border-radius: 0;
  background: radial-gradient(black, transparent);
  color: white;
  position: relative;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: -5px;
  right: 20px;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.btn-close {
  padding: 1rem;
  color: inherit;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
}

#notification{
  background-color: aqua;
}