#shipping-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 04%;
    background-color: #f1f3f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  #shipping-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: fantasy;
  }
  
  .section {
    margin-bottom: 20px; /* Adjust spacing as needed */
  } 
  
  h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    
  }