.carousel-control-next,
.carousel-control-prev {
  align-items: center;
  background: 0 0;
  border: 0;
  display: flex;
  position: absolute;
  top: 0;
  transition: opacity 0.05s ease-in-out;
  width: 15%;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}

/* plcement */
.carousel-control-next {
  right: 0;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border: none;
  outline: none;
  color: rgb(0, 0, 0); /* Change arrow color */
  font-size: 2rem; /* Adjust arrow size */
}

.carousel-image {
  width: 500px;
  height: 400px;
  max-width: 100%;
  display: block;
  backface-visibility: hidden;
}

.carousel-item.active {
  display: flex;
  flex-direction: column; /* Ensure text appears below the image */
  align-items: center;
  text-align: center; /* Center align text */
  background-color: black;
  opacity: 1;
  }

.carousel-caption {
  position: static;
  text-shadow: 0cap 0px 0px rgba(0, 0, 0, 0.5);
  color: red;
  text-emphasis: bold;
  font-family: "Courier New", Courier, monospace;
}

.carousel{
  overflow: hidden;
  background-color: black;
}